
    a {
        text-decoration: none;
    }
.card_blue{
    color:rgb(72, 72, 230);
}

footer h5 {
    color: #D8d8d8;
    font-weight: 800;
    font-size: 1.2rem;
}

footer h6 {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 800;


}
footer {
color:#fff;
background-color: #343a40;
}
footer a{
    color:#fff;
}
footer li {
    padding-bottom: 4px;

}

footer li a {
    font-size: 0.8rem;
    text-decoration: none;
}



footer .copyright a {
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    border-radius: 500%;
    text-align: center;
    line-height: 38px;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a {
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: #fff;
    background-color: rgb(180, 19, 169);
}

textarea {
    resize: none;
}
.btn{
    color:#fff;
}
.btn:hover {
    color: rgb(217, 252, 252) !important;
}

.container_task{
    width:1000px;
}
.nav-item .active_{
    color:rgb(0, 174, 255)!important;
}